<div scrollToTop *ngIf="lessons$ | async as lessons" [ngClass]="{'lessons-container': !(lessonShown$ | async)}">

    <div class="p-d-flex p-mt-3">
        <div *ngIf="!(lessonShown$ | async)" class="button-back">

            <button (click)="onClickBack()" pButton pRipple type="button" label="חזור אחורה"
                    class="p-button-outlined"></button>
        </div>
        <div [ngClass]="{'lesson-shown': lessonShown$ | async}" class="title p-d-flex p-jc-center">

            <div class="p-card-title bold p-text-center">{{lessons.title}}</div>
        </div>
    </div>

    <div *ngIf="!(lessonShown$ | async)" class="p-grid p-mt-4 items-container"
    >
        <a *ngFor="let lesson of lessons.lessonsData; let index = index"
           class="lesson-base-container"
           [routerLink]="[lesson.id]"
        >
            <p-card [header]="lesson.name" (click)="onLessonClick(lesson)">
                <ng-template pTemplate="header">
                    <div class="video-icon">
                        <i *ngIf="lesson.fileType === FileType.video" class="pi pi-video"></i>
                        <i *ngIf="lesson.fileType === FileType.pdf" class="pi pi-file-pdf"></i>
                        <i *ngIf="lesson.fileType === FileType.music" class="fas fa-music"></i>
                    </div>
                </ng-template>
            </p-card>
        </a>
    </div>
</div>

<router-outlet></router-outlet>

