
.lessons-container {
  height: 80%;
}

@keyframes color {
  0% {
    background: #f1f2f3;
  }
  40% {
    background: #476aa8;
  }
  100% {
    background: #1616c2;
    color: white
  }
}

:host ::ng-deep {
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .lesson-base-container {
      min-width: 100% !important;
      margin: 8px 0 !important;

      .lesson-image-text {
        max-width: 90%;
        font-size: 20px;
      }

      .p-card, .p-card .p-card-content {
        padding: 8px 0 0 0!important;
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width: 2200px) {
    .lesson-base-container {
      max-width: 23%;

      .p-card {
        padding: 1rem;
        height: 150px;
      }
    }
  }

  .lesson-base-container {
    cursor: pointer;
    margin: 8px;
    min-width: 15%;


    .p-card {

      &:hover {
        animation: color 2s alternate linear;
        background: #1616c2;
        color: white
      }

      .p-card-title {
        font-size: 14px;
      }
      .video-icon {
        text-align: center;
      }
    }


  }
}


.lesson-image-text {
  max-width: 170px;
}