<div class="contact-container">

    <button pButton
            pRipple type="button" class="btn btnPrimary"
            [label]="buttonText" (click)="onChangeStatusForm()"></button>
    <h3 class="header">{{titleText}}</h3>

    <div [formGroup]="contactForm" class="contact-form">
        <div class="row input-row">
            <label for="name">שם מלא*</label>
            <input id="name" type="text" pInputText formControlName="name">
        </div>

        <div class="row input-row">
            <label for="email">כתובת מייל*</label>
            <input id="email" type="text" pInputText formControlName="email">
        </div>

        <div *ngIf="!messageToManager" class="row input-row">
            <label for="checkbox">אינך מעוניין ששאלה זו תתפרסם</label>
            <input class="checkbox-non-publish" id="checkbox" type="checkbox" formControlName="nonPublish">
        </div>

        <div class="row text-area-row">
            <label for="content">תוכן ההודעה*</label>
            <textarea id="content" type="text" pInputTextarea formControlName="content"></textarea>
        </div>

        <div class="row button-row">
            <button type="button"
                    [disabled]="!contactForm.valid"
                    (click)="onSendMessageClick()" pButton
                    pRipple type="button" label="שלח הודעה"
                    ></button>
        </div>
    </div>
</div>
