
:host ::ng-deep {
  .p-disabled, .p-component:disabled {
    opacity: 0.3;
  }
}

.contact-container {
  height: 500px;
  max-width: 45%;
  margin: 50px auto;

  input:not(.checkbox-non-publish), textarea {
    width: 80%;
  }

  .checkbox-non-publish {
    width: 5%;
  }

  label {
    width: 20%;
    display: flex;
    align-items: center;
  }

  .header {
    text-align: center;
  }

  .row {
    margin-top: 1rem;
    display: flex;

  }

  .input-row {
    height: 40px;
  }

  .text-area-row {
    height: 200px;
  }

  .button-row {
    float: left;
  }
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .contact-container {
    max-width: initial !important;
    label {
      font-size: 13px;
    }

    .button-row {
      position: absolute;
      bottom: 20px;
      left: 30px;
    }

    .text-area-row {
      height: 40vh;
    }
  }

}
