// -----VARIBALS-----

// COLORS
$blue-color: #2f57ff;
$blue-color-hover: #2545cc;
$button-disabled: #d8d8d8;
$gray-color: #d7d7d7;
$gray-color-dark: #7C7C7C;
$gray-color-hover: #d8d8d8;
$red-color: #e85b6f;
$red-color-hover: #b34655;
$invalid-color: #db6172;
$menu-background: #f5f7f6;
$divider-color: #f5f7f6;
$black-text: #333333;
$warning-color: #e85b6f;
$table-border-color: #e9ecef;
$table-border-hover-color: #B5B5B5;
$input-color: #495057;

$item-menu-selected-color: #58dca1;
$child-item-menu-selected-color: #03dc7c;

$backdrop-color: rgba(17, 32, 94, 0.45);
$select-open-backdrop-color: #E7E9F1;
// ---widths---
$border-width: 1px;
$border-hover-width: 2px;

// --- height ---

$field-height: 42px;
$input-label-height: 25px;