
:host ::ng-deep {
  i {
    margin-left: 10px;
  }
}

.login-container, .forgot-password-container, .sing-up-container {
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
}
.login-footer {
  .form-group:not(:first-child), .redirect-to-login {
    margin-right: 10px;
  }
}
.form-group, .redirect-to-login {
  margin-top: 20px;
}

.redirect-to-login {
  cursor: pointer;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
}

label {
  width: 20%;
  display: flex;
  align-items: center;
}

button {
  //float: left;
}