
:host ::ng-deep {
  i {
    margin-left: 10px;
  }
}

.login-container {
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
}

.form-group, .redirect-to-login {
  margin-top: 20px;
}

.redirect-to-login {
  cursor: pointer;
}

input {
  width: 100%;
}

label {
  width: 20%;
  display: flex;
  align-items: center;
}

button {
  //float: left;
}