<div #page class="page">
    <div class="content">
        <div class="header">
            <span class="sign-out" *ngIf="isLoggedIn$ | async" (click)="onLogout()">
                <i class="pi pi-sign-out"></i>
                התנתקות</span>
            <div class="logo">
                <div class="title-page" routerLink="home" [ngClass]="{'p-col-12': isMobile, 'p-col-4': !isMobile}">
                    <h2 class="header">שיעורים ביסודות המצוות</h2>
                </div>
                <div  [ngClass]="{'p-col-8 p-ai-center p-grid p-mt-2': !isMobile}">
                    <div class="font-stam">
                        לבירור יסודות המצוות המעשיות ומצוות הלב בתורה שבכתב ובתורה שבעל פה
                    </div>
                </div>
            </div>

            <p-tabMenu *ngIf="!isMobile" [model]="(menuItems$ | async) || []"></p-tabMenu>
            <p-menubar *ngIf="isMobile" [model]="(mobileMenuItems$ | async) || []"></p-menubar>


        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<p-toast></p-toast>
