

.page {
  padding: 20px 0;
  direction: ltr;
  height: 100vh;
  overflow: auto;
}

.logo {
  display: flex;
}

.title-page {
  cursor: pointer;
}

.font-stam {
  font-size: 24px;
}

:host ::ng-deep {

  .p-dialog-title, .p-dialog-content {
    white-space: pre-line;
    text-align: center;
    line-height: 2;
  }

  .p-dialog-title {
    width: 100%;
  }

  @media screen and (min-width: 300px) and (max-width: 600px) {

    .p-dialog-mask {
      left: 10%;
      width: 80%;
    }

    .p-dialog-title, .p-dialog-content {
      line-height: 1.2 !important;
    }

    .p-dialog-title {
      font-size: 15px !important;
    }


  .p-dialog-content {
    font-size: 13px !important;
    }

    .page {
      padding: 10px 0;
    }

    .logo {
      display: block;
      padding-bottom: 10px;
      > div {
        padding: 0 !important;
      }
    }

    .font-stam {
      font-size: 11px;
    }

    .content {
      width: 90vw !important;
      margin: auto;

    }
    .p-menuitem-link {
      padding: 1rem 8px !important;
      font-size: 11px;
    }

    .p-menubar-button {
      display: none;
    }

    .p-submenu-icon {
      margin-top: 2px;
    }

    .p-menubar {
      .p-submenu-list {
        padding: 0.25rem 0;
        background: #ffffff;
        border: 0 none;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
        width: 12.5rem;
        position: absolute;
      }

      .p-menubar-root-list {
        position: initial;
        display: flex;
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        width: 100%;

        .p-menuitem {
          width: auto;
        }
      }
    }
  }

  .p-menuitem-link:focus {
    box-shadow: none !important;
  }

  .p-menubar.p-component {
    width: 100vw;
    padding: 5px 0 0 0;
    margin-right: -15px;
  }

  .p-tabmenu.p-component, .p-menubar.p-component {
    position: sticky;
    top: -30px;
    z-index: 10;
    background: white;
  }
}

.header {
  margin: 0px;
  font-size: 32px;
  text-shadow: rgb(255, 255, 255) 2px 2px 3px;
  display: unset;
  //text-align: center;
  .sign-out {
    font-size: 13px !important;
    cursor: pointer;
    text-align: right;
    .pi-sign-out:before {
      font-size: 11px;
    }
  }



}

.content {
  width: 1200px;
  margin: auto;

}
