
.lesson-component {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.p-card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}


video {
  width: 100%;
}

.is-mp3 {
  height: 100px;
}

audio {
  width: 100%;
}

.lesson-item {
  border: 1px solid var(--gray-500);
  padding: 4px;

}

:host ::ng-deep {
  .p-button .p-button-icon-right {
    margin-right: 0.5rem;
    margin-left: 0;
  }
  button {
    background: var(--button-color) !important;
  }

  iframe {
    height: 800px;
    width: 100%;
    margin: auto;
  }

  .counter-data.p-d-flex {
    div:not(:first-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 200px) and (max-width: 900px) {
    .p-button-label, .download-text, .counter-data {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 900px) {
    .lesson-item.is-video {
      height: 45vh;
    }
  }
}
