<div class="lesson-component ">
    <div class="p-grid"
    [ngClass]="{'p-mt-3': !isMobile}"
    >
        <div>
            <button (click)="onClickBack()" pButton pRipple type="button" label="חזור אחורה"
                    class="p-button-outlined"></button>
        </div>
        <div class="p-mr-2 p-d-flex">
            <button type="button"
                    [disabled]="downloadInProcess"
                    (click)="onDownloadClick()" pButton
                    icon="pi pi-download" iconPos="right"
                    pRipple type="button" label="הורדת השיעור"
                    class="p-button-outlined p-button-secondary"></button>
        </div>
        <div class="p-mr-2 p-d-flex">
            <button *ngIf="downloadInProcess" type="button"
                    (click)="cancelDownload()" pButton
                    pRipple type="button" label="בטל הורדה"
                    class="p-button-outlined p-button-secondary"></button>
            <span *ngIf="downloadInProcess" class="download-text p-mr-3 p-d-flex p-ai-center"> ההורדה מתבצעת ברקע</span>
        </div>

    </div>
    <div class="p-grid p-mt-3">
        <mat-progress-bar *ngIf="download$ | async as download"
                          [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'"
                          [value]="download.progress">
        </mat-progress-bar>

    </div>
    <div class="lesson-container"
         *ngIf="lesson$ | async as lesson"
         [ngClass]="{'is-mp3': lesson.fileType === FileType.music}"
    >

        <h2 class="p-card-title p-mt-4 bold p-text-center" [ngClass]="{'p-mt-6': !isMobile, 'p-mt-4': isMobile}">{{lesson.name}}</h2>
        <div class="lesson-item" [ngClass]="{'is-pdf': lesson.fileType === FileType.pdf, 'is-video': lesson.fileType === FileType.video}">
            <video *ngIf="lesson.fileType === FileType.video" controlsList="nodownload" controls muted="" loop=""
                   playsinline="" id="vid" preload="auto"
                   width="100%" height="100%">
                <source [src]="lesson.url" type="video/mp4">
                Your browser does not support HTML video.
            </video>

            <audio *ngIf="lesson.fileType === FileType.music" controlsList="nodownload" controls muted="" loop=""
                   playsinline="" id="audio" preload="auto"
                   width="100%" height="100%"
                   [src]="lesson.url">
            </audio>

            <iframe *ngIf="lesson.fileType === FileType.pdf" [src]="lesson.url | safe: 'resourceUrl'"
                    sortColumn="date&amp;view=list"  height="400" frameborder="0" allowfullscreen=""
                    webkitallowfullscreen="" msallowfullscreen="" ></iframe>
        </div>
        <div class="p-mr-2 counter-data">
            <div class="p-grid p-mt-3">
                מספר הורדות לשיעור זה:  {{lesson.downloadCount}}
            </div>

            <div class="p-grid p-mt-3">
                מספר האזנות לשיעור זה:  {{lesson.watchCount}}
            </div>
        </div>
        <div class="p-grid p-mt-3">
            <share-buttons [theme]="'material-dark'"
                           [include]="isMobile ? ['whatsapp','sms','email','copy']:
                            ['facebook','twitter','telegram','messenger','whatsapp','sms','email','copy']"
                           [show]="9"
                           [url]="pageUrl"
                           [autoSetMeta]="false"
            ></share-buttons>
        </div>
    </div>
</div>




