
.lesson-images {
  display: flex;
  flex-wrap: wrap;
}

:host ::ng-deep {
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .image-container {
      width: 90%;
      margin: 8px auto;
    }
  }


  .image-container {
    text-align: center;
    color: black;
    cursor: pointer;

    .p-card {
      height: 200px;

      .p-card-body {
        height: 100%;

        .p-card-title {
          font-size: 22px;
        }

        .p-card-content {
          height: 80%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}