<div scrollToTop *ngIf="data$ | async as data" class="items-container">
    <button *ngIf="showBack" (click)="onClickBack()" pButton pRipple type="button" label="חזור אחורה"
            class="p-button-outlined"></button>

    <div *ngIf="data.title && !data.isArticles" class="p-grid p-col-12">

        <div class="p-col-12 p-text-center p-text-bold">{{data.title}}</div>
    </div>
    
    <div  *ngIf="data.isArticles" class="p-col-12 p-text-center">
        <img class="img-articles-logo" src="/assets/מבי%20מדרשא%20לוגו.jpg" alt="">
    </div>

    <ng-container
            [ngTemplateOutlet]="cards"
            [ngTemplateOutletContext]="{$implicit:data.lessons}">
    </ng-container>

    <div *ngIf="data.subItems">
        <ng-container
                [ngTemplateOutlet]="cards"
                [ngTemplateOutletContext]="{$implicit:data.subItems.lessons, title: data.subItems.title}">
        </ng-container>
    </div>


</div>

<ng-template #cards let-lessons let-title="title">

    <div class="lesson-images">
        <div *ngIf="title" class="p-grid p-col-12">

            <div class="p-col-12 p-text-center p-text-bold">{{title}}</div>
        </div>
        <div class="p-col-12 p-grid ">
            <ng-container *ngFor="let lessonBackground of lessons">

                <a class="image-container p-col-3" *ngIf="lessonBackground.lessons" (click)="onItemClick(lessonBackground)">
                    <p-card  [header]="lessonBackground.name">
                        <img [src]="lessonBackground.background" alt="">
                    </p-card>
                </a>

                <a class="image-container p-col-3" *ngIf="!lessonBackground.lessons" [routerLink]="lessonBackground.lessons ? undefined: [lessonBackground.packageName]">
                    <p-card [header]="lessonBackground.name">
                        <img [src]="lessonBackground.background" alt="">
                    </p-card>
                </a>
            </ng-container>
        </div>
    </div>
</ng-template>
