.image-container {
  position: relative;
  text-align: center;
  color: black;
  cursor: pointer;
  height: 200px;
  padding: 8px;

  img {
    height: 100%;
    width: 100%;
  }

  .image-text {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}