<div scrollToTop *ngIf="data$ | async as data" class="items-container">
    <button *ngIf="showBack" (click)="onClickBack()" pButton pRipple type="button" label="חזור אחורה"
            class="p-button-outlined"></button>

    <div *ngIf="data.title" class="p-grid p-col-12">

        <div class="p-col-12 p-text-center p-text-bold">{{data.title}}</div>
    </div>

    <ng-container
            [ngTemplateOutlet]="cards"
            [ngTemplateOutletContext]="{$implicit:data.lessons}">
    </ng-container>

    <div *ngIf="data.subItems">
        <ng-container
                [ngTemplateOutlet]="cards"
                [ngTemplateOutletContext]="{$implicit:data.subItems.lessons, title: data.subItems.title}">
        </ng-container>
    </div>


</div>

<ng-template #cards let-lessons let-title="title">

    <div class="p-mt-3 lesson-images">
        <div *ngIf="title" class="p-grid p-col-12">

            <div class="p-col-12 p-text-center p-text-bold">{{title}}</div>
        </div>
        <div class="p-col-12 p-grid p-mt-4 ">
            <p-card *ngFor="let item of lessons"
                    class="image-container p-col-3"
                    [header]="item.name"
                    (click)="onItemClick(item)"
            >
                <img [src]="item.background" alt="">
            </p-card>
        </div>
    </div>
</ng-template>
