
.lesson-images {
  display: flex;
  flex-wrap: wrap;
}

.img-articles-logo {
  height: 160px;
}



:host ::ng-deep {
  @media screen and (min-width: 200px) and (max-width: 900px) {
    .image-container {
      width: 90%;
      margin: 8px auto;
    }
    .img-articles-logo {
      height: auto;
      width: 70vw;
    }
  }


  .image-container {
    text-align: center;
    color: black;
    cursor: pointer;

    .p-card {
      height: 200px;

      .p-card-body {
        height: 100%;

        .p-card-title {
          font-size: 17px;
          max-height: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .p-card-content {
          height: 70%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
