    <div class="forgot-password-container">
        <div [formGroup]="forgotPasswordForm">
            <h3>איפוס סיסמא</h3>
            <p class="text-center">הזן את כתובת המייל שלך</p>
            <div class="formGroup">
                <label for="email">כתובת מייל</label>
                <input id="email" type="text" pInputText formControlName="email">

            </div>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <button [disabled]="!forgotPasswordForm.valid" pButton
                        pRipple type="button" class="btn btnPrimary"
                        label="איפוס סיסמא" (click)="onForgotPasswordClick()"></button>
            </div>
        </div>
        <div class="redirect-to-login">
            <div routerLink="/auth/login">חזור לדף הכניסה </div>
        </div>
    </div>
