

<div *ngIf="!(lessonShown$ | async)" class="home-container items-container">
    <div class="p-d-flex p-mt-3">
        <div [ngClass]="{'p-col-3': !isMobile, 'right-menu-item-space': isMobile}">
            <div class="right-menu-item-container">
                <div *ngFor="let rightItem of rightMenuItems"
                     class="right-menu-item"
                     (click)="onRightItemClick(rightItem)"
                >
                    <div class="right-menu-item-text">{{rightItem.label}}</div>
                    <span class="p-mr-2">

                        <i *ngIf="rightItem.icon" [class]="rightItem.icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <p-divider layout="vertical" ></p-divider>
        <div class="left-container">
            <div class="left-menu-item-container" *ngFor="let leftMenuItem of leftMenuItems">
                <div class="left-menu-item-header">{{leftMenuItem.title}}</div>
                <div class="left-menu-item-data">
                    <p-card class="p-col" *ngFor="let item of leftMenuItem.values"

                            [header]="item.name"
                            (click)="onItemClick(leftMenuItem, item)"
                    >
                        <img [src]="item.background" alt="">
                    </p-card>
                </div>

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
